<div align="center">
  <arah-search (onChangedSearch)="onChangedSearch($event)"></arah-search>
</div>
<br>
<div *ngIf="emptyResult" align="center">
  <h2>Sorry, We have found nothing</h2>
</div>
<div *ngFor="let article of articles$ | async">
  <div class="articles-content">
    <mat-expansion-panel (opened)="article.openedPanel = true"
                         (closed)="article.openedPanel = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 routerLink="/article/{{article.id}}/details">
            {{article.header}}
          </h2>
        </mat-panel-title>
        <mat-panel-description>
          <h3>Rating: {{article.rating | number : '1.2-2'}}</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="article-description">
        <h3>Created: {{article.createdWhen | date: 'medium'}}</h3>
        <h3>Updated: {{article.updatedWhen ? (article.updatedWhen | date: 'medium') : 'Article was never updated'}}</h3>
        <h3>Original Date: {{article.originalDate | date: 'mediumDate'}}</h3>
      </div>
    </mat-expansion-panel>
  </div>
  <br>
</div>
