<div *ngIf="originalArticle$ | async; let article">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{article.header}}</mat-card-title>
      <mat-card-subtitle>Rating: {{article.rating | number : '1.2-2'}}</mat-card-subtitle>
      <mat-card-subtitle>Created: {{article.createdWhen | date: 'medium'}}</mat-card-subtitle>
      <mat-card-subtitle>Updated: {{article.updatedWhen ? (article.createdWhen | date: 'medium') : 'Article was never updated'}}</mat-card-subtitle>
      <mat-card-subtitle>Original Date: {{article.originalDate | date: 'mediumDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <p>
        {{article.message}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <input class="input-content" placeholder="Rating" min = "0" max="10" [(ngModel)]="estimationValue">
      <button mat-button (click)="onRate()">Rate</button>
      <button mat-button (click)="onEdit()">Edit</button>
      <button mat-button (click)="onDelete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
